/*Codes By Mahdi Tasha*/
@import url('iranian-sans.css');

/*Universal Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/*Making Some Styles To Body*/
body {
    font-size: 13px !important;
    font-family: IranianSans, sans-serif !important;
    scroll-behavior: smooth;
    font-weight: normal;
    background-color: #029ecb !important;
    overflow-x: hidden !important;
}

/*Styles*/
#dv-header-search-input::placeholder{color: white;}
#dv-header-search-btn[data-opened='true'] {opacity: 100%;pointer-events: visible;}
#dv-header-search-btn[data-opened='false'] {opacity: 0;pointer-events: none;}
#dv-header-search-input[data-opened='true'] {opacity: 100% !important;width: 20% !important;pointer-events: visible !important;}
#dv-header-search-input[data-opened='false'] {width: 0;opacity: 0;pointer-events: none;}
#dv-scroll-icon:hover svg ,.dv-header-search-btn:hover {animation: hover-transform .7s infinite alternate;}
#dv-mobile-nav {z-index: 2000;background-color: #0295CE;}
#dv-mobile-nav-dark-bg {background-color: rgba(0,0,0,.2);z-index: 1999;}
#dv-mobile-nav-dark-bg[data-opened='false'] {right: -100% !important;}
#dv-mobile-nav-dark-bg[data-opened='true'] {left: 50%;}
#dv-mobile-nav[data-opened='false'] {right: -50%;}
#dv-mobile-nav[data-opened='true'] {right: 0;}
#dv-mobile-nav, #dv-mobile-nav-dark-bg {display: none !important;}
#dv-nav-toggle-btn > button{border: 1px solid white;}
#dv-nav-toggle-btn > button:active {background-color: white !important;color: #0295CE !important;}
.dv-mobile-nav-list-toggler[data-opened='false'] ~ ul{display: none !important;}
.dv-mobile-nav-list-toggler[data-opened='true'] ~ ul{display: block;}
.dv-mobile-nav-list-toggler[data-opened='true'] > span:last-of-type {transform: rotate(45deg)}
.dv-second-section-images {grid-template-columns: repeat(4, 1fr);}
.dv-products-holder {grid-template-columns: repeat(2, 1fr);}
.dv-mobile-nav-list-toggler {background-color: #0295CE;}
.dv-mobile-nav-list-toggler:active {background-color: #0084b5;}
.dv-mobile-nav-list-toggler ~ ul button{background-color: #007cab;}
.dv-mobile-nav-list-toggler ~ ul button:active{background-color: #006387;}
.dv-scroll-hidden::-webkit-scrollbar {display: none;}
.dv-scroll-hidden::-moz-viewport-scroll {display: none;}
img {pointer-events: none;}
button {cursor: pointer;}
.dv-w-40 {width: 40%;}
.dv-w-60 {width: 60%;}
.dv-w-15 {width: 15%;}
.dv-bg-none {background-color: unset;}
.dv-first-section-inner-gradiant {background: linear-gradient(to bottom, rgba(2, 149, 206, .5), rgba(3, 162, 203, .5), rgba(2, 158, 203, 1));}
.dv-ml-1 {margin-left: 1rem;}
.dv-ml-2 {margin-left: 2rem;}
.dv-transition {transition: .3s;}
.dv-pointer-event-none {pointer-events: none;}
.dv-header-link:hover {color: #9ae7ff !important;}
.dv-header-link:hover ~ div, div:hover, .dv-triangle {opacity: 1 !important;pointer-events: visible !important;}
.dv-header-list-item-btn:hover {background-color: #0295CE !important;color: white !important;}
.dv-header-list-item-btn:active {background-color: #006c97 !important;color: white !important;}
.dv-header-search-btn ~ input {width: 0;}
.dv-text-dark-blue {color: #037FA2 !important;}
.dv-text-gray {color: #707070 !important;}
.dv-second-section-card:hover {box-shadow: 0 0 30px rgba(0,0,0,.3);transform: translateY(-5px);}
.dv-bg-none-rectangular > main {transform: translateY(20%);}
.dv-fourth-sections-ul {grid-template-columns: repeat(2, 1fr);}
.dv-forth-section {min-height: 140vh !important;}
.dv-forth-section > main {transform: translateY(10%);}
.dv-card-swiper {width: 346px;height: 455px;}
.dv-text-blue {color: #0295CE !important;}
.dv-bg-blue {background-color: #0295CE;}
.dv-customer-link-btn:hover {background-color: #007aab;}
.dv-customer-link-btn:active {background-color: #005f84;}
.dv-card-swiper .swiper-pagination {transform: translateY(4rem);}
.dv-card-swiper .swiper-pagination-bullet-active {background: white !important;}
.dv-footer > main  {transform: translateY(25vh);}
.dv-card-swiper .swiper-pagination-bullet {
    background: unset;
    border: 3px solid white !important;
    opacity: 1 !important;
    width: 12px;
    height: 12px;
}

.dv-first-section {
    background-image: url("../img/first-section/img-bg.png");
    background-size: cover;
}

.dv-rahbari-quote:before {
    content: '';
    background-image: url("../img/first-section/img-under-rahbaris-quote.svg");
    background-size: cover;
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    transform: translateX(-80px);
}

.dv-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    margin-right: 1rem;
}

#dv-header.dv-scrolled {
    box-shadow:0 1rem 3rem rgba(0,0,0,.175);
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: .75rem 2rem !important;
}

.dv-bg-none-rectangular {
    background-image: url("../img/img-white-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.dv-third-section-right-side-items:hover {
    background-color: #04B3C6;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
}

.dv-footer {
    background-image: url("../img/img-footer-bg.png");
    background-position: top;
    background-size: 200vw;
    min-height: 400px;
}

/*Animations*/
@keyframes hover-transform { 100% {transform: translateY(5px)} }

/*Media Query's*/
@media (max-width: 1199px) {
    .dv-second-section-images  {grid-template-columns: repeat(2, 1fr);}
    #products-section  {min-height: 80rem;}
}

@media (max-width: 991px) {
    #dv-mobile-nav, #dv-mobile-nav-dark-bg {display: block !important;}
    #dv-header-search-input[data-opened='true'] {width: 50% !important;}
    body > section:not(:first-of-type) {padding: 1rem !important;}
    header > ul {width: 10% !important;}
    header > div {width: 90% !important;}
    header > ul > li:first-of-type{display: block !important;}
    header > ul > li:not(:first-of-type){display: none !important;}
    .dv-first-section-inner-gradiant > div:first-of-type{width: 90% !important;}
    .dv-forth-section > main {flex-direction: column-reverse !important;}
    .dv-third-section > main > div, .dv-third-section > main > img,
    .dv-forth-section > main > div, .dv-footer > main > div{width: 100% !important;}
    .dv-footer > main {gap: 2rem;}
    .dv-footer {min-height: 40rem;background-size: cover}
    .dv-footer > main > div:last-of-type > ul{width: 75% !important;}
    .dv-footer > main > div:last-of-type {align-items: start !important;}
    .dv-forth-section > main > img {width: 100%;}
    .dv-forth-section {min-height: 155rem !important;}
    .dv-footer > main {transform: translateY(70px);}
    .dv-footer > main > div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: start !important;
        gap: 1rem;
    }

    .dv-footer > main {
        display: flex;
        flex-direction: column;
    }

    .dv-third-section > main,
    .dv-forth-section > main{
        display: flex;
        flex-direction: column;
    }

    .dv-rahbari-quote {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem !important;
    }
}

@media (max-width: 767px) {
    #products-section  {min-height: 115rem;}
    #products-section > main {transform: translateY(90px);}
    .dv-products-holder  {grid-template-columns: repeat(1, 1fr);}
}

@media (max-width: 575px) {
    .dv-card-swiper {width: 80%;}
    .dv-header-search-input[data-opened='false'] {background-color: red;}
    .dv-fourth-sections-ul > li > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .dv-first-section-inner-gradiant > div:first-of-type  > div:first-of-type img {width: 60%;}
    .dv-first-section-inner-gradiant > div:first-of-type  > div:first-of-type svg {width: 60%;height: auto;}

    .dv-fourth-sections-ul {
        display: flex;
        grid-template-columns: none;
    }

    .dv-third-section-right-side-items {
        display: flex;
        flex-direction: column !important;
        text-align: center;
    }

    .dv-first-section-inner-gradiant > div:first-of-type  > div:first-of-type{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

}

@media (max-height: 764px) {
    .dv-first-section > main > div{
        margin-top: 10rem ;
    }
}