/*Codes By Mahdi Tasha*/
@import url('iranian-sans.css');

/*Universal Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/*Making Some Styles To Body*/
body {
    font-size: 13px !important;
    font-family: IranianSans, sans-serif !important;
    scroll-behavior: smooth;
    font-weight: normal;
    background-color: #029ecb !important;
}

/*Styles*/
img {pointer-events: none;}
button {cursor: pointer;}
.dv-w-40 {width: 40%;}
.dv-w-60 {width: 60%;}
.dv-w-15 {width: 15%;}
.dv-bg-none {background-color: unset;}
.dv-first-section-inner-gradiant {background: linear-gradient(to bottom, rgba(2, 149, 206, .5), rgba(3, 162, 203, .5), rgba(2, 158, 203, 1));}
.dv-ml-1 {margin-left: 1rem;}
.dv-transition {transition: .3s;}
.dv-pointer-event-none {pointer-events: none;}
.dv-header-link:hover {color: #9ae7ff !important;}
.dv-header-link:hover ~ div, div:hover, .dv-triangle {opacity: 1 !important;pointer-events: visible !important;}
.dv-header-list-item-btn:hover {background-color: #0295CE !important;color: white !important;}
.dv-header-list-item-btn:active {background-color: #006c97 !important;color: white !important;}
.dv-header-search-btn ~ input {width: 0;}
#dv-header-search-input::placeholder{color: white;}
#dv-header-search-btn[data-opened='true'] {opacity: 100%;pointer-events: visible;}
#dv-header-search-btn[data-opened='false'] {opacity: 0;pointer-events: none;}
#dv-header-search-input[data-opened='true'] {opacity: 100% !important;width: 20% !important;pointer-events: visible !important;}
#dv-header-search-input[data-opened='false'] {width: 0;opacity: 0;pointer-events: none;}
.dv-text-dark-blue {color: #037FA2 !important;}
.dv-text-gray {color: #707070 !important;}
.dv-second-section-card:hover {box-shadow: 0 0 30px rgba(0,0,0,.3);transform: translateY(-5px);}
.dv-second-section > main {transform: translateY(100px);}
#dv-scroll-icon:hover svg ,.dv-header-search-btn:hover {animation: hover-transform .7s infinite alternate;}
.dv-first-section {
    background-image: url("../img/first-section/img-bg.png");
    background-size: cover;
}

.dv-rahbari-quote:before {
    content: '';
    background-image: url("../img/first-section/img-under-rahbaris-quote.svg");
    background-size: cover;
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    transform: translateX(-80px);
}

.dv-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    margin-right: 1rem;
}

#dv-header.dv-scrolled {
    box-shadow:0 1rem 3rem rgba(0,0,0,.175);
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

.dv-second-section {
    background-image: url("../img/img-white-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.dv-third-section-right-side-items:hover {
    background-color: #04B3C6;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
}

/*Animations*/
@keyframes hover-transform { 100% {transform: translateY(5px)} }