/*Codes By Mahdi Tasha*/
@import url('iranian-sans.css');

/*Universal Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Making Some Styles To Body*/
body {
    font-size: 18px;
    font-family: IranianSans, sans-serif !important;
    scroll-behavior: smooth;
}

/*Styles*/